/* Resetando o overflow-x para evitar rolagem horizontal */
html, body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body { 
  transition: .5s;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;  
  color: black;
  font-family: 'Montserrat', Arial, sans-serif;

}

.icone img {
  height: 40px;
  width: auto;
  margin: 0;
}

/* Cabeçalho */
 header {
  background-color: #352262;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  transition: .5s;
}

header img {
  height: 40px;
}

.search-bar {
  flex: 1;
  margin: 0 2rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
}

.search-bar button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px
}

.header-buttons {
   display: flex;
  align-items: center;
  gap: 24px; /* aqui define o espaço entre os 3 itens */
}
.header-buttons img {
  height: 24px;
  cursor: pointer;

}

.login-text {
   color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Montserrat',Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}

.login-icon {
  width: 24px;
  height: auto;
  margin-bottom: 4px;
}

.login-text {
  font-weight: bold;
  font-size: 11px;
  line-height: 1.2;
}

 .cart-button {
   display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  cursor: pointer;
  text-align: center;
}

.trilho{
  width: 80px;
  height: 40px;
  background-color: #2B1B48;
  border: solid 2px #ffffff;
  border-radius: 150px;
  position: relative;
  cursor: pointer;
 
  
}

.trilho .indicador {
  width: 38px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(.8);
  position: absolute;
  left: 0;
  transition: .5s;
}

.trilho.dark{
  background-color: #d1abab;
}

.trilho.dark .indicador{
  left: 38px;
  background-color: #312c2c;
  
}

body.dark{
  background-color:#131212;
}


body.dark .navbar {
  background-color: #131212;
}

body.dark header{
  background-color: #1d1b20;
}

body.dark .destaques{
  background-color: #131212;
}

body.dark .destaques h2{
  color: #ffffff;
}

body.dark .secao-hero-fundo {
  background-color: #131212;
}

body.dark .loot-banner{
  background-color: #312c2c;
}

body.dark .compra-garantida {
background-color:#312c2c ;
}

body.dark .jogo{
  background-color: #312c2c;
  color: #FFFFFF;
}

body.dark .jogo p{
  color: #ffffff;
}

body.dark .texto span{
  color: #FFFFFF;
}

body.dark .texto strong{
  color: #FFFFFF;
}

body.dark .btn {
  background-color: #131212;
  color: rgb(255, 255, 255);
}

body.dark .btn:hover {
  background-color: #585758;
}

.cart-text {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
}

.navbar {
  background-color: #2B1B48;
  padding: 2px 0; 
  text-align: center;
  transition: .5s;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ffcc00;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.nav-links li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin: 0 120px;
}

.nav-links a {
   color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}



.banner,
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  display: block;
}

.banner button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}

.prev { left: 20px;}

.next { right: 20px;}

.banner button:hover {
  background-color: rgba(204, 10, 130, 0.822);
}

.carousel {
  width: 100%;
  height: auto;
}

.slides {
  display: flex;
  width: 100%;
  height: auto;
}

.slide {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Destaques */
.destaques {
  padding: 2rem;
  background-color: #f5f5f5;
  transition: .5s;
}

.destaques h2 {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 60px;
  margin-left: 150px;
  text-align: left;
}

.destaques-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center; /* centraliza os itens */
  padding: 0 20px; /* espaçamento nas laterais */
}

.jogo {
  background-color: white;
  width: 200px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.jogo:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); 
}

.jogo img {
  width: 100%;
  height: 60%;
  border-radius: 5px;
}

.jogo h3 {
  font-size: 15px;
  margin: 10px 0 5px;
  flex-grow: 1;
}


.jogo p {
  font-weight: bold;
  margin: 5px 0;
  font-size: 25px;
  color: #333;
}

/* Botão de conferir jogos */
.btn {
  background-color: #b67dd4;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: auto; 
  text-decoration: none; /* Remove sublinhado do link */
  display: inline-block; /* Faz o link se comportar como botão */

}

.btn:hover {
  background-color: #a263c0;
}

.loot-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #69539D;
  color: white;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  overflow: visible;
  max-width: 1300px;
  width: 100%;
  margin: 80px auto;
  transition: .5s;
}

.secao-hero-fundo {
  padding: 40px 0;
  justify-content: center;
  background-color: #e8e1f4; /* cor do fundo do banner hero */
  transition: .5s;
}

.textos {
  max-width: 80%;
  margin-left: 20%;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.título-destaques {
  font-size: 28px;
  color: white;
  margin: 30px 40px 10px 40px;
  text-align: left;
}

.titulo-destaques h2 {
  font-size: 28px;
  color: #333;

}
.subtitulo {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.imagem-wrapper img {
  position: absolute;
  right: 130px;
  bottom: -10px;
  width: 26%;
}

.btnbanner {
  background-color: #CF74CF;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
}

.btnbanner:hover {
  background-color: #b46fb4;
}

.compra-garantida {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 80px auto;
  max-width: 1200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.bloco-texto-e-icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

.compra-garantida .icon img {
  width: 100px;
  height: 90px;
}

.compra-garantida .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.compra-garantida .texto strong {
  font-size: 18px;
  color: #333;
}

.compra-garantida .texto span {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

.compra-garantida .pagamentos {
  display: flex;
  align-items: center;
  gap: 35px;
}

.compra-garantida .pagamentos img {
  width: 100px;
  height: 80px;
}

@media (max-width: 768px) {
      .container {
        margin: 30px 20px;
        padding: 25px;
      }

      header h1 {
        font-size: 2em;
      }

      .navbar {
  overflow-x: auto;
  white-space: nowrap;
}

.nav-links {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 10px; 
  padding: 10px 20px;
}

.nav-links li {
  display: inline-block;
}
    }