/* Resetando o overflow-x para evitar rolagem horizontal */
html, body {
  overflow-x: hidden;
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
    }

body {
  background: #f4f4f8;
  color: #333;
  transition: .5s;
}

.icone img {
  height: 40px;
  width: auto;
  margin: 0;
}

 header {
  background-color: #352262;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

header img {
  height: 40px;
}

.search-bar {
  flex: 1;
  margin: 0 2rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
}

.search-bar button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px
}

.header-buttons {
   display: flex;
  align-items: center;
  gap: 24px; /* aqui define o espaço entre os 3 itens */
}
.header-buttons img {
  height: 24px;
  cursor: pointer;

}

.login-text {
   color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}

.login-icon {
  width: 24px;
  height: auto;
  margin-bottom: 4px;
}

.login-text {
  font-weight: bold;
  font-size: 11px;
  line-height: 1.2;
}

.cart-button {
   display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  cursor: pointer;
  text-align: center;
}


.cart-text {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
}

.trilho{
  width: 80px;
  height: 40px;
  background-color: #2B1B48;
  border: solid 2px #ffffff;
  border-radius: 150px;
  position: relative;
  cursor: pointer;
 
  
}

.trilho .indicador {
  width: 38px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(.8);
  position: absolute;
  left: 0;
  transition: .5s;
}

.trilho.dark{
  background-color: #d1abab;
}

.trilho.dark .indicador{
  left: 38px;
  background-color: #312c2c;
  
}

body.dark{
  background-color:#151416;
}

body.dark .navbar {
  background-color: #131212;
}

body.dark header{
  background-color: #1d1b20;
}

body.dark .game-card{
  background: #312c2c;
  color: white
}

body.dark .game-card .btn {
      background-color: #131212;
      color: white;
    }

   body.dark .game-card .btn:hover {
      background-color: #585758;
    }

   body.dark .game-card .esgotado {
         background-color: #422020;
   }

   body.dark .title-section {
    color: white;
   }

.navbar {
  background-color: #2B1B48;
  padding: 2px 0;
  text-align: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ffcc00;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.nav-links li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin: 0 120px;
}

.nav-links a {
   color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}



    .main-content {
      padding: 20px;
      max-width: 1200px;
      margin: auto;
    }

    .title-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 40px;
      margin-left: 80px;
    
    }

    .games-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 50px;
      margin: 80px;
    }

    .game-card {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      text-align: center;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .game-card img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .game-card h3 {
      font-size: 20px;
      margin: 10px 0;
    }

    .game-card .btn {
      background-color: #c077d4;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 8px;
      font-weight: bold;
      display: inline-block;
      text-decoration: none;
      transition: background-color 0.3s;
    }

    .game-card .btn:hover {
      background-color: #a35fc4;
    }

    .game-card .esgotado {
         background-color: #ccc;
         cursor: default;
        pointer-events: none;
    }


    @media (max-width: 768px) {
      .header .container {
        flex-direction: column;
        align-items: flex-start;
      }

      .title-section {
        flex-direction: column;
        align-items: flex-start;
      }

      .navbar {
  overflow-x: auto;
  white-space: nowrap;
}

.nav-links {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 10px; 
  padding: 10px 20px;
}

.nav-links li {
  display: inline-block;
}

    }